body {
  margin: 0;
  font-family: arial;
  background-color: rgb(255, 226, 182);
}

#bungkus {
  width: 100%;
  margin: 20px auto 0;
}

#logo img {
  width: 80px;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu ul li {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-left: 10px;
}

#logo {
  margin-bottom: 20px;
}

#menu {
  margin-top: 50px;
}

#menu ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 30px 0;
}

#menu ul li a:hover,
#menu ul li a.active {
  border-bottom: 5px solid;
}

#top {
  display: flex;
  justify-content: space-between;
}

#banner {
  height: 400px;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 10px;
}

#banner img {
  width: 100%;
}

.hewan {
  display: grid;
  grid-template-columns: repeat(auto fit, minmax(200px, 1fr));
  gap: 20px;
}

.hewan {
  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  width: 200px;
  height: 200px;
  color: #a18a96;
  text-align: center;
  background: url(capybaranobg.png) center no-repeat;
  background-size: cover;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.hewan::before,
.hewan::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  transition: transform 0.5s 0.25s;
}

.hewan::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.hewan::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.hewan__body {
  opacity: 0;
  transition: opacity 0.25s;
}

.hewan__title {
  color: #6a515e;
  margin-bottom: 15px;
}

.hewan:hover::before,
.hewan:hover::after {
  transform: translateY(0);
}

.hewan:hover .hewan__body {
  opacity: 1;
  transition-delay: 0.75s;
}

.hewan1 {
  display: grid;
  grid-template-columns: repeat(auto fit, minmax(200px, 1fr));
  gap: 20px;
}

.hewan1 {
  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  width: 200px;
  height: 200px;
  color: #a18a96;
  text-align: center;
  background: url(anjingnobg.png) center no-repeat;
  background-size: cover;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.hewan1::before,
.hewan1::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  transition: transform 0.5s 0.25s;
}

.hewan1::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.hewan1::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.hewan1__body {
  opacity: 0;
  transition: opacity 0.25s;
}

.hewan1__title {
  color: #6a515e;
  margin-bottom: 15px;
}

.hewan1:hover::before,
.hewan1:hover::after {
  transform: translateY(0);
}

.hewan1:hover .hewan1__body {
  opacity: 1;
  transition-delay: 0.75s;
}

.hewan2 {
  display: grid;
  grid-template-columns: repeat(auto fit, minmax(200px, 1fr));
  gap: 20px;
}

.hewan2 {
  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  width: 200px;
  height: 200px;
  color: #a18a96;
  text-align: center;
  background: url(ayamnobg.png) center no-repeat;
  background-size: cover;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.hewan2::before,
.hewan2::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  transition: transform 0.5s 0.25s;
}

.hewan2::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.hewan2::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.hewan2__body {
  opacity: 0;
  transition: opacity 0.25s;
}

.hewan2__title {
  color: #6a515e;
  margin-bottom: 15px;
}

.hewan2:hover::before,
.hewan2:hover::after {
  transform: translateY(0);
}

.hewan2:hover .hewan2__body {
  opacity: 1;
  transition-delay: 0.75s;
}

.hewan3 {
  display: grid;
  grid-template-columns: repeat(auto fit, minmax(200px, 1fr));
  gap: 20px;
}

.hewan3 {
  position: relative;
  z-index: 1;
  display: grid;
  place-content: center;
  width: 200px;
  height: 200px;
  color: #a18a96;
  text-align: center;
  background: url(bunglonnobg.png) center no-repeat;
  background-size: cover;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.hewan3::before,
.hewan3::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(60% + 35px);
  background-color: #fff;
  transition: transform 0.5s 0.25s;
}

.hewan3::before {
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  transform: translateY(-100%);
}

.hewan3::after {
  bottom: 0;
  clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  transform: translateY(100%);
}

.hewan3__body {
  opacity: 0;
  transition: opacity 0.25s;
}

.hewan3__title {
  color: #6a515e;
  margin-bottom: 15px;
}

.hewan3:hover::before,
.hewan3:hover::after {
  transform: translateY(0);
}

.hewan3:hover .hewan3__body {
  opacity: 1;
  transition-delay: 0.75s;
}

.icons {
  display: flex;
  column-gap: 25px;
  justify-content: center;
  padding-top: 2%;
}

.icon {
  display: inline-flex;
  width: 60px;
  height: 60px;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.icon:hover {
  outline-offset: 4px;
}

.icon i {
  margin: auto;
}

.icon:hover i {
  animation: shake 0.25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}
